*{
    margin: 0;
    padding: 0;

}
.counter{
    
}
.main{
    background: #B8A9FE;
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 5px;

}
.heading{
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    padding-top: 80px;
    padding-bottom: 80px;
}
.box{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.one{
    width: 200px;
    height: 150px;
    
    background: #fff;
    text-align: center;
    margin-bottom: 90px;
    border-radius: 3px;
}
.one h1{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    /* display: inline-block; */
    margin-right: 25px;
    
}
.one h1::after {
	position: absolute;
	top: 16px;
	right: 40px;
	height: 8%;
	width: 8%;
	content: "+";
}
.hazer::after{
    position: absolute !important;
	top: 30px !important;
	right: 35px !important;
	height: 8% !important;
	width: 8% !important;
	content: "K" !important;
    font-size: 24px !important;

}
.persentaze::after{
    position: absolute !important;
	top: 30px !important;
	right: 40px !important;
	height: 8% !important;
	width: 8% !important;
	content: "%" !important;
    font-size: 24px !important;

}
.one p{
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.black{
    color: black;
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
